---
const { bass } = Astro.props;
import { Image } from "astro:assets";

import largeImage from "../assets/largemouth-bass-fishing-salem-oregon.png";
import smallImage from "../assets/smallmouth-bass-fishing-salem-oregon.png";
---
{ bass != "largemouth" && (
    <div class="flex bg-white p-2 my-4 shadow text-blue-700 font-semibold rounded-md">
        <Image src={largeImage} alt="Largemouth bass fishing near Salem" width={100} loading="lazy" class="rounded-md shadow-md" />
        <a href="/bass/largemouth/" class="pl-4">Largemouth bass fishing near Salem, Oregon</a>
    </div>
)}
{ bass != "smallmouth" && (
    <div class="flex bg-white p-2 my-4 shadow text-blue-700 font-semibold rounded-md">
        <Image src={smallImage} alt="Smallmouth bass fishing near Salem" width={100} loading="lazy" class="rounded-md shadow-md" />
        <a href="/bass/smallmouth/" class="pl-4">Smallmouth bass fishing near Salem, Oregon</a>
    </div>
)}