<div class="bg-white p-4 m-4 shadow text-blue-700 font-semibold">
<a href="/salmon/best-spots/">Best salmon fishing spots near Salem, Oregon</a>
</div>
<div class="bg-white p-4 m-4 shadow text-blue-700 font-semibold">
<a href="/steelhead/best-spots/">Best steelhead fishing spots near Salem, Oregon</a>
</div>
<div class="bg-white p-4 m-4 shadow text-blue-700 font-semibold">
<a href="/trout/best-spots/">Best trout fishing spots near Salem, Oregon</a>
</div>
<div class="bg-white p-4 m-4 shadow text-blue-700 font-semibold">
<a href="/bass/best-spots/">Best bass fishing spots near Salem, Oregon</a>
</div>